<?xml version="1.0"?>
<configuration>

  <location path="Manage.aspx">
    <system.web>
      <authorization>
        <allow users="ITAdmin"/>
        <allow users="Admin"/>
        <allow users="ExternalHospitalRole"/>
        <allow users="ISQICStaff"/>
        <allow users="QIModule"/>
	<allow users="VTERole"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

</configuration>
